annotated-types==0.7.0
build==1.2.2.post1
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
docstring-parser==0.16
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
idna==3.10
importlib-metadata==8.5.0
numpy==1.24.4
packaging==24.2
parsimonious==0.10.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1-modules==0.4.1
pydantic==2.10.6
pydantic-core==2.27.2
PyJWT==2.9.0
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
regex==2024.11.6
requests==2.32.3
rsa==4.9
shapely==2.0.7
singlestoredb==1.11.0
six==1.17.0
sqlparams==6.2.0
tomli==2.2.1
typing-extensions==4.12.2
urllib3==2.2.3
vertexai==1.71.1
zipp==3.20.2
